* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Dosis", sans-serif;
}


h1,h2,h3,h4,h5,h6{
    font-family: "Texturina", serif;
}

.bg-darkgrey {
    background-color: #353A40;
}

.font-yellow {
    color: #ECB348;
}

.search-btn {
    border: 1px solid #ECB348;
    padding-top: 10px;
    padding-bottom: 10px;
}

.myInput {
    padding-top: 9px;
    padding-bottom: 9px;
}

.first-section {
    background-image: url(/img/banner-buisnessman.jpg);
    background-repeat: no-repeat;
    height: 85vh;
}

.house-img {
    height: 400px;
}